[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
autopep8 = "*"
setuptools = "*"
wheel = "*"
twine = "*"
pytest-cov = "*"

[packages]
requests = "~=2.24.0"
pydash = "~=4.8.0"
singleton-decorator = "~=1.0.0"
tenacity = "~=6.2.0"
websocket-client = "==0.54.0"

[requires]
python_version = "3.7"
