[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
autopep8 = "*"
setuptools = "*"
wheel = "*"
twine = "*"

[packages]
requests = "*"
pydash = "*"
singleton-decorator = "*"
tenacity = "*"
websocket-client = "==0.54.0"

[requires]
python_version = "3.7"
