[tool.poetry]
name = "pygqlc"
version = "3.1.3"
description = "Python client for graphql APIs"
authors = ["Baruc Almaguer <baruc.almaguer@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
requests = "~=2.26"
pydash = "~=5.0"
tenacity = "~=6.3"
websocket-client = "==0.54.0"
certifi = "==2022.12.07"


[tool.poetry.group.dev.dependencies]
pipenv-poetry-migrate = "^0.3.2"
pytest = "*"
pylint = "*"
autopep8 = "*"
setuptools = "*"
wheel = "*"
twine = "*"
pytest-cov = "*"
sphinx = "3.1"
sphinx-rtd-theme = "==0.5.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry_bumpversion.file."pygqlc/__version__.py"]
